@import url(http://fonts.googleapis.com/css?family=Ruda:400,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,900,300,100);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

body {
    margin: 0;
    padding: 0;
    /*height: 1000px; !* Must be set to NUMBER OF SLIDES * PERSPECTIVE *!*/
    background: white;
    color: #2A2A2A;
    font-family: "Montserrat", sans-serif !important;
    -webkit-font-smoothing: antialiased;
    text-shadow: 0 0 4px white;
}

a,
a:link,
a:visited {
    color: #CC0A4D;
    text-decoration: none !important;
}

a:hover,
a:active {
    color: rgba(204, 10, 77, 1) !important;
    text-shadow: 0 0 5px rgba(204, 10, 77, 0.6);
    text-decoration: none !important;
}

#scroll-stage {
    perspective: 1000px;
    position: fixed;
    height: 100%;
    width: 100%;
}
.slide {
    padding: 90px;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
}

.slide--1 {
    z-index: 1000;
}
.slide--2 {
    z-index: 900;
}
.slide--3 {
    z-index: 800;
}
.slide--4 {
    z-index: 700;
}
.slide--5 {
    z-index: 600;
}
.slide--6 {
    z-index: 700;
}
.slide--7 {
    z-index: 6800;
}

/*
 * Navigation
 */

nav {
    display: none !important;
}

sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: auto;
    z-index: 2000;
    padding: 50px 0 0 40px;
}

/*
 * Helpers
 */

.text-large {
    font-size: 26px;
}

/*
 * Lists
 */

.list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.list__item {
    display: block;
}

.list--vertical {
    display: block;
}

.list--vertical .list__item {
    display: inline-block;
}

.list--dots .list__item {
    opacity: 0.2;
    cursor: pointer;
    overflow: hidden;
    height: 30px;
    margin-bottom: 20px;
}

.list--dots .list__item.active {
    opacity: 1;
    color: #CC0A4D;
}

.list--dots .list__item::before {
    content: "·";
    font-size: 60px;
    line-height: 10px;
}

/*
 * Body border
 */

.border {
    position: fixed;
    background: #CC0A4D;
    z-index: 3000;
}

.border.top {
    top: 0;
    left: 0;
    right: 0;
    height: 10px;
}

.border.right {
    top: 0;
    right: 0;
    bottom: 0;
    width: 10px;
}

.border.bottom {
    bottom: 0;
    left: 0;
    right: 0;
    height: 10px;
}

.border.left {
    top: 0;
    left: 0;
    bottom: 0;
    width: 10px;
}

/*
 * Animated dots
 */

.animated-dots {

}

.jumbotron {
    border-radius: 0 !important;
}

.container {
    height: 100%;
    position: relative;
}

.background-portrait {
    height: 330px;
    background-image: url('assets/moi.png');
    background-repeat: no-repeat;
    background-position: left top;
    background-size: auto 100%;
}

.headline--supersize {
    margin: 0;
    font-size: 200px;
    line-height: 150px;
    /*text-transform: uppercase;*/
    font-weight: 700;
}

.headline--strike {
    position: relative;
    margin: 50px 0;
}

.headline--strike__inner {
    padding: 0 20px;
    text-transform: uppercase;
    font-size: 20px;
    background: white;
}

.headline--strike::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 11px;
    left: 0;
    right: 0;
    border: 3px solid #EEE;
}

.wrapper {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.vert-responsive {
    display: block;
    max-height: 100%;
    width: auto;
}

/**
 * Position
 */

.position--absolute { position: absolute; width: 100%; }
.position--relative { position: relative; }
.position--top { top: 0; }
.position--right { right: 0; }
.position--bottom { bottom: 0; }
.position--left { left: 0; }
.position--center { margin: 0 auto; }

/**
 * Flex boxes
 */

.flex {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.flex--reverse {
    align-items: flex-end !important;
}

.flex__item {
    width: 50%;
    min-width: calc(100% / 3);
    max-height: 100%;
    /*height: 50%;*/
    /*overflow: hidden;*/
}

.flex__item--end {
    align-self: flex-end;
    order: 1;
}

.flex--reverse .flex__item--end {
    align-self: flex-start !important;
}