@import url(http://fonts.googleapis.com/css?family=Ruda:400,700);

body {
    margin: 0;
    padding: 0;
    height: 7000px; /* Must be set to NUMBER OF SLIDES * PERSPECTIVE */
    background: white;
    color: #2A2A2A;
    font-family: "Ruda", sans-serif !important;
    -webkit-font-smoothing: antialiased;
}

a,
a:link,
a:visited {
    color: #CC0A4D;
    text-decoration: none !important;
}

a:hover,
a:active {
    color: rgba(204, 10, 77, 1) !important;
    text-shadow: 0 0 5px rgba(204, 10, 77, 0.6);
    text-decoration: none !important;
}

#scroll-stage {
    perspective: 1000px;
    position: fixed;
    height: 100%;
    width: 100%;
}
.slide {
    padding-top: 70px;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
}

.slide--1 {
    z-index: 1000;
}
.slide--2 {
    z-index: 900;
}
.slide--3 {
    z-index: 800;
}
.slide--4 {
    z-index: 700;
}
.slide--5 {
    z-index: 600;
}
.slide--6 {
    z-index: 700;
}
.slide--7 {
    z-index: 6800;
}

/*
 * Navigation
 */

nav {
    display: none !important;
}

sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: auto;
    z-index: 2000;
    padding: 50px;
}

/*
 * Helpers
 */

.text-large {
    font-size: 26px;
}

/*
 * Lists
 */

.list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.list__item {
    display: block;
}

.list--vertical {
    display: block;
}

.list--vertical .list__item {
    display: inline-block;
}

.list--dots .list__item {
    opacity: 0.2;
}

.list--dots .list__item.active {
    opacity: 1;
}

.list--dots .list__item::before {
    content: "·";
    font-size: 60px;
    line-height: 20px;
    /*text-shadow: 0, 0, 20px, white;*/
}

/*
 * Body border
 */

.border {
    position: fixed;
    background: #CC0A4D;
    z-index: 3000;
}

.border.top {
    top: 0;
    left: 0;
    right: 0;
    height: 10px;
}

.border.right {
    top: 0;
    right: 0;
    bottom: 0;
    width: 10px;
}

.border.bottom {
    bottom: 0;
    left: 0;
    right: 0;
    height: 10px;
}

.border.left {
    top: 0;
    left: 0;
    bottom: 0;
    width: 10px;
}

/*
 * Animated dots
 */

.animated-dots {

}