<p class="h1">Angaben gemäß § 5 TMG</p>

<p>Verantwortlich für den Inhalt auf dieser Webseite:</p>

<p>
    Michael Czechowski<br>
    NEXT LEVEL SHIT<br>
    Böhmisreuteweg 20<br>
    70199 Stuttgart
</p>

<p class="h3">Kontaktangaben</p>

<p>
    Telefon: +49 176 80759182<br>
    E-Mail: <a href="mailto: mail@dailysh.it">mail [ät] dailysh [punkt] it</a>
</p>

<p class="h3">Datenschutzerklärung</p>

<p>
    Auf dieser Webseite werden von meiner Seite keinerlei Daten über den Besucher und seinen Aufenthalt erhoben.
    Diese Seite wurde bis auf die benutzten Frameworks und Komponenten selbstständig und komplett eigenhändig konzipiert, gestaltet und umgesetzt.
    Für die Inhalte der verwendeten Komponenten sowie Weiterleitungen auf externe Webseiten wird keine Verantwortung benutzt. Benutzung der Webseite auf eigene Gefahr.
</p>