/*
 * Navigation
 */

aside {
  display: none;
  position: fixed;
  top: 0;
  left: 2vw;
  height: 100%;
  width: auto;
  z-index: 2000;

  @media screen and (min-width: $breakpoint-m) {
    display: block;
  }

}
