body {
  margin: 0;
  padding: 0;
  /*height: 1000px; !* Must be set to NUMBER OF SLIDES * PERSPECTIVE *!*/
  background: white;
  color: #2A2A2A;
  font-family: 'Ruda', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  /*text-shadow: 0 0 4px white;*/
}