/**
 * Flex boxes
 */

.flex {
  display: flex;
  width: 100%;
  height: 100%;

  @include prefix((
          flex-flow: row wrap,
          align-items: flex-start,
          align-content: center,
          justify-content: center
  ), webkit);

  &--center {
    @include prefix((
            align-items: center !important,
            justify-content: center !important
    ), webkit);
  }

  &--columns {
    @include prefix((
            flex-direction: column,
            flex-flow: column wrap
    ), webkit);
  }

  &--reverse {
    @include prefix((
            align-items: flex-end !important
    ), webkit);

    .flex__item--end {
      @include prefix((
              align-self: flex-start !important
      ), webkit);
    }
  }

  &__item {
    width: 50%;
    min-width: calc(100% / 3);
    padding: 0 15px;

    &--fullwidth {
      width: 100%;
    }

    &--end {
      @include prefix((
              align-self: flex-end
      ), webkit);
      order: 1;
    }

  }
}