.border {
  $this-border-width: 10px;
  
  position: fixed;
  background: $ci-color-1;
  z-index: 3000;

  &.top {
    top: 0;
    left: 0;
    right: 0;
    height: $this-border-width;
  }
  
  &.right {
    top: 0;
    right: 0;
    bottom: 0;
    width: $this-border-width;
  }
  
  &.bottom {
    bottom: 0;
    left: 0;
    right: 0;
    height: $this-border-width;
  }
  
  &.left {
    top: 0;
    left: 0;
    bottom: 0;
    width: $this-border-width;
  }
}