.text {

  /**
   * Text sizes
   */
  &--small {
    // TODO: Use dynamic font sizes
    font-size: 0.9rem !important;
  }

  &--default {
    &,
    & * {
      font-size: $font-size-default;
    }
  }

  &--large {
    // TODO: Use dynamic font sizes
    font-size: 26px !important;
  }

  &--larger {
    // TODO: Use dynamic font sizes
    font-size: 42px !important;
  }

  /**
   * Text colors
   */

  &--grey {
    color: $gray;
  }

  /**
   * Text alignment
   */

  &--center {
    &,
    & * {
      text-align: center !important;
    }
  }
}