.page-links {
  position: absolute;
  left: 1vw;
  right: 1vw;
  bottom: 1vw;
  padding: 4px;

  span, a {
    color: $ci-color-1;
    font-size: 1.2rem;
    text-decoration: none;
    border: none;
  }
}