@import url(http://fonts.googleapis.com/css?family=Ruda:400,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

body {
  margin: 0;
  padding: 0;
  /*height: 1000px; !* Must be set to NUMBER OF SLIDES * PERSPECTIVE *!*/
  background: white;
  color: #2A2A2A;
  font-family: "Ruda", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  /*text-shadow: 0 0 4px white;*/
}

p {
  /*text-align: justify;
  -moz-hyphens: auto;
  -o-hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;*/
}

a,
a:link,
a:visited {
  color: #2A2A2A;
  text-decoration: none !important;
  border-bottom: 1px dotted #30b6f5;
}

a:hover,
a:active {
  color: #6acbfa !important;
  text-shadow: 0 0 5px #bde7fa;
  text-decoration: none !important;
}

#ws-slides {
  perspective: 1000px;
  position: fixed;
  height: 100%;
  width: 100%;
}

.slide {
  padding: 40px 90px;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;

  &__wrapper {
    perspective: 1000px;
    position: fixed;
    height: 100%;
    width: 100%;

    &.hide-to-left {
      transform-origin: top left;
      animation: hide-to-left 2s;
      animation-fill-mode: both;
    }
  }
}

@keyframes hide-to-left {
  0% {
    display: block;
    opacity: 1;
  }

  99% {
    transform: rotateY(90deg) translateZ(-100px);
    display: block;
    opacity: 0.01;
  }

  100% {
    display: none;
    opacity: 0;
  }
}

/*
 * Navigation
 */

nav {
  display: none !important;
}

sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: auto;
  z-index: 2000;
  padding: 50px 0 0 40px;
}

/*
 * Helpers
 */

.text-large {
  font-size: 26px;
}

.text-larger {
  font-size: 42px;
}

/*
 * Lists
 */

.list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  &--vertical {
    display: block;

    .list__item {
      display: inline-block;
    }
  }

  &--dots {
    .list__item {
      opacity: 0.2;
      cursor: pointer;
      overflow: hidden;
      height: 30px;
      margin-bottom: 20px;

      &.active {
        opacity: 1;
        color: #CC0A4D;
      }

      &::before {
        content: "·";
        font-size: 60px;
        line-height: 10px;
      }
    }
  }

  &__item {
    display: block;
  }
}

/*
 * Body border
 */

.border {
  position: fixed;
  background: #CC0A4D;
  z-index: 3000;
}

.border.top {
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
}

.border.right {
  top: 0;
  right: 0;
  bottom: 0;
  width: 10px;
}

.border.bottom {
  bottom: 0;
  left: 0;
  right: 0;
  height: 10px;
}

.border.left {
  top: 0;
  left: 0;
  bottom: 0;
  width: 10px;
}

/*
 * Animated scroll down icon
 */

.scroll-down {
  position: relative;
  margin: 0 auto;
  color: #CC0A4D;
  font-size: 62px;
  cursor: default;
  text-align: center;
}

.scroll-down::before {
  content: "»";
  position: absolute;
  top: 0;
  /*left: 0;*/
  /*width: 100%;*/
  transform: rotate(90deg);
}

.scroll-down::after {
  content: "»";
  position: absolute;
  /*left: 0;*/
  /*width: 100%;*/
  opacity: 0.1;
  transform: rotate(90deg) scale(1.6);
  animation: scroll-down 2.6s infinite;
}

@keyframes scroll-down {
  0% {
    top: -10px;
    opacity: 0;
  }

  30% {
    top: 20px;
    opacity: 0.3;
  }

  100% {
    top: -10px;
    opacity: 0;
  }
}

/**
 * Bootstrap stuff
 */

.jumbotron {
  border-radius: 0 !important;
  font-weight: 700;

  p {
    font-size: 36px !important;
  }
}

.container {
  height: 100%;
  position: relative;
}

.background {
  &--portrait {
    height: 330px;
    background-image: url('../assets/moi.png');
    background-repeat: no-repeat;
    background-position: left top;
    background-size: auto 100%;
  }

  &--ci {
    position: relative;
    background: #CC0A4D;
    height: 330px;
    width: calc(330px / 1.6);
  }
}

.headline {
  &--supersize {
    margin: 0;
    font-size: 130px;
    /*line-height: 120px;*/
    font-family: "Montserrat", sans-serif !important;
    /*text-transform: uppercase;*/
    font-weight: 700;
  }

  &--small {
    text-transform: uppercase;
    color: #CC0A4D;
    letter-spacing: 3px;
    margin-bottom: 5px;
    font-size: 13px;
  }

  &--ci {
    position: absolute;
    top: 37px;
    left: 10px;

    font-family: 'Anton', sans-serif;
    font-weight: 700;
    font-size: 60px;
    color: white;
    text-align: center;
    text-shadow: 5px 5px 0 #CC0A4D, -5px -5px 0 #6ACBFA;
    transform: rotate(-10deg);
  }

  &--strike {
    position: relative;
    margin: 50px 0;

    &__inner {
      padding: 0 20px;
      text-transform: uppercase;
      font-size: 20px;
      background: white;
    }

    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      top: 11px;
      left: 0;
      right: 0;
      border: 3px solid #EEE;
    }
  }
}

.wrapper {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.vert-responsive {
  display: block;
  max-height: 100%;
  width: auto;
}

.img-center {
  margin: 0 auto;
}

/**
 * Position
 */

.position {
  &--absolute {
    position: absolute;
    width: 100%;
  }
  &--relative {
    position: relative;
  }
  &--top {
    top: 0;
  }
  &--right {
    right: 0;
  }
  &--bottom {
    bottom: 0;
  }
  &--left {
    left: 0;
  }
  &--center {
    margin: 0 auto;
  }
}

/**
 * Flex boxes
 */

.flex {
  display: flex;
  align-items: flex-start;
  align-content: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  &--center {
    align-items: center !important;
    justify-content: center !important;
  }

  &--columns {
    flex-direction: column;
    flex-flow: column wrap;
  }

  &--reverse {
    align-items: flex-end !important;

    .flex__item--end {
      align-self: flex-start !important;
    }
  }

  &__item {
    width: 50%;
    min-width: calc(100% / 3);
    /*max-height: 33%;*/
    padding: 0 15px;
    /*height: 50%;*/
    /*overflow: hidden;*/

    &--end {
      align-self: flex-end;
      order: 1;
    }

  }
}

/**
 * Margins and Spacings
 */

.margin {
  &__top {
    margin-top: 32px;
  }
}