/*----------------------------------------------------------------
* Settings
*----------------------------------------------------------------
*
* Global variables, site-wide settings, config switches, etc.
*/

$fa-font-path: '../node_modules/font-awesome/fonts';
$fancybox-image-url: '../assets';

$ci-color-1: #CC0A4D;
$ci-color-2: #30b6f5;

$font-size-default: 1.2vw;

$transition-bounce: all 320ms cubic-bezier(.58,.92,.77,1.22);

$breakpoint-xxl:  1500px;
$breakpoint-xl:   1200px;
$breakpoint-l:     980px;
$breakpoint-m:     768px;
$breakpoint-s:     480px;


/*----------------------------------------------------------------
* Generic
*----------------------------------------------------------------
*
* Low-specificity, far-reaching rulesets (e.g. resets).
*/

@import '../../node_modules/font-awesome/scss/font-awesome';
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';
@import '../../node_modules/fancybox/dist/scss/jquery.fancybox';

@import url(http://fonts.googleapis.com/css?family=Ruda:400,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

@import "generic.mixins";


/*----------------------------------------------------------------
* Base
*----------------------------------------------------------------
*
* Unclassed HTML elements (e.g. a {}, blockquote {}, address {}).
*/

@import "base.body";
@import "base.links";
@import "base.navigation";

p {
  font-size: $font-size-default;
}

/*----------------------------------------------------------------
* Helper classes
*----------------------------------------------------------------
*
* Simple classes helpers (e.g. .fullheight {}).
*/

@import "helpers.headline";
@import "helpers.positioning";

/*----------------------------------------------------------------
* Objects
*----------------------------------------------------------------
*
* Objects, abstractions, and design patterns (e.g. .media {}).
*/

@import "objects.background";
@import "objects.border";
@import "objects.flex-boxes";
@import "objects.list";

/*----------------------------------------------------------------
* Components / UI
*----------------------------------------------------------------
*
* Discrete, complete chunks of UI (e.g. .carousel {}).
*/

@import "ui.animations";
@import "ui.scroll-down-icon";
@import "ui.slide";
@import "ui.page-links";
@import "ui.dots";

/*----------------------------------------------------------------
* Trumps / Overrides
*----------------------------------------------------------------
*
* Discrete, complete chunks of UI (e.g. .carousel {}).
*/

@import "trumps.bootstrap-overrides";
@import "trumps.fancybox-overrides";
@import "trumps.text";
@import "trumps.margining";