/*----------------------------------------------------------------
* Settings
*----------------------------------------------------------------
*
* Global variables, site-wide settings, config switches, etc.
*/

$ci-color-1: #CC0A4D;
$ci-color-2: #30b6f5;
$gray-base: #000;
$gray: #000;

$font-size-default: 1.2vw;

$transition-bounce: all 320ms cubic-bezier(.58,.92,.77,1.22);
$transition-default: all 10ms ease-out;

$breakpoint-xxl:  1500px;
$breakpoint-xl:   1200px;
$breakpoint-l:     980px;
$breakpoint-m:     768px;
$breakpoint-s:     480px;


/*----------------------------------------------------------------
* Generic
*----------------------------------------------------------------
*
* Low-specificity, far-reaching rulesets (e.g. resets).
*/

@import "generic.mixins";
@import "generic.extends";

/*----------------------------------------------------------------
* Base
*----------------------------------------------------------------
*
* Unclassed HTML elements (e.g. a {}, blockquote {}, address {}).
*/

@import "base.body";
@import "base.aside";

p {
  font-size: $font-size-default;
}

/*----------------------------------------------------------------
* Helper classes
*----------------------------------------------------------------
*
* Simple classes helpers (e.g. .fullheight {}).
*/

@import "helpers.positioning";

/*----------------------------------------------------------------
* Objects
*----------------------------------------------------------------
*
* Objects, abstractions, and design patterns (e.g. .media {}).
*/

@import "objects.background";
@import "objects.flex-boxes";

/*----------------------------------------------------------------
* Components / UI
*----------------------------------------------------------------
*
* Discrete, complete chunks of UI (e.g. .carousel {}).
*/

@import "ui.slide";
@import "ui.dots";

/*----------------------------------------------------------------
* Trumps / Overrides
*----------------------------------------------------------------
*
* Discrete, complete chunks of UI (e.g. .carousel {}).
*/

@import "trumps.text";
@import "trumps.margining";